In [1]:
print("everything is perfect for starting the coding")

everything is perfect for starting the coding

In [2]:
import pandas as pd

In [39]:
data1=pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/master/IMDB-Dataset.csv")

In [40]:
data1.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [41]:
data1.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [42]:
data1.shape

(50000, 2)

In [43]:
data1.sample(10)

                                                  review sentiment
43305  "National Lampoon Goes to the Movies" is the w...  negative
8866   One of the best film I ever saw.<br /><br />Th...  positive
2977   This is the Neil Simon piece of work that got ...  positive
37524  If you lived through the 60s, this film can be...  positive
43361  There is no way to avoid a comparison between ...  negative
40978  I read the recent comments and couldn't wait t...  negative
49274  I really enjoyed the performances of the main ...  positive
13716  The film was okay, quite entertaining. The cas...  positive
32147  Awww, I love this! The Tale of the Cat and the...  positive
27386  OK I saw this movie to get a benchmark for bad...  negative

In [44]:
data1["review"][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [45]:
data1["review"][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

1.tokenization

2.lowercase

3.uppercase

4.emojis

5.panctuation

6.html,url

7.stopwords

8.abbrevation

9.stemming and lemetization

10.spelling correction

11.whitespace

1.lowering

In [46]:
data1["review"][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [47]:
data1["review"][3].upper()

"BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY (JAKE) THINKS THERE'S A ZOMBIE IN HIS CLOSET & HIS PARENTS ARE FIGHTING ALL THE TIME.<BR /><BR />THIS MOVIE IS SLOWER THAN A SOAP OPERA... AND SUDDENLY, JAKE DECIDES TO BECOME RAMBO AND KILL THE ZOMBIE.<BR /><BR />OK, FIRST OF ALL WHEN YOU'RE GOING TO MAKE A FILM YOU MUST DECIDE IF ITS A THRILLER OR A DRAMA! AS A DRAMA THE MOVIE IS WATCHABLE. PARENTS ARE DIVORCING & ARGUING LIKE IN REAL LIFE. AND THEN WE HAVE JAKE WITH HIS CLOSET WHICH TOTALLY RUINS ALL THE FILM! I EXPECTED TO SEE A BOOGEYMAN SIMILAR MOVIE, AND INSTEAD I WATCHED A DRAMA WITH SOME MEANINGLESS THRILLER SPOTS.<BR /><BR />3 OUT OF 10 JUST FOR THE WELL PLAYING PARENTS & DESCENT DIALOGS. AS FOR THE SHOTS WITH JAKE: JUST IGNORE THEM."

In [48]:
data1["review"]=data1["review"].str.lower()

In [49]:
data1["review"]=data1["review"].str.upper()

In [50]:
data1["review"]

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION. <BR /><BR />THE...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY ...
4        PETTER MATTEI'S "LOVE IN THE TIME OF MONEY" IS...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT, BAD DIALOGUE, BAD ACTING, IDIOTIC DI...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    I'M GOING TO HAVE TO DISAGREE WITH THE PREVIOU...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

2. tackle htmltags and url

In [33]:
text="""<!DOCTYPE html><html lang="en"><head><meta
charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta
name="viewport" content="width=device-width,
initial-scale=1.0"><title>Welcome to My
Website</title><style>body{font-family:'Arial',sans-serif;background-color
:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}</style
></head><body><header><h1>Welcome to My Awesome
Website!</h1></header><main><p>This is a sample HTML document created for
demonstration purposes.</p><p>Feel free to explore and enjoy the content
on this website.</p></main><footer><p>&copy; 2024 My Website. All rights
reserved.</p></footer></body></html>"""

In [34]:
import re

In [35]:
def remove_html_tag(text):
    pattern=re.compile('<.*?>')
    return pattern.sub("",text)

In [52]:
data1["review"]=data1["review"].apply(remove_html_tag)

In [53]:
data1["review"]

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION. THE FILMING TEC...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY ...
4        PETTER MATTEI'S "LOVE IN THE TIME OF MONEY" IS...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT, BAD DIALOGUE, BAD ACTING, IDIOTIC DI...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    I'M GOING TO HAVE TO DISAGREE WITH THE PREVIOU...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

In [55]:
# we are going to handle punctuation

In [54]:
import string

In [57]:
exclude =string.punctuation

In [58]:
for char in exclude:
    print(char)

!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~

In [59]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, "")
    return text

In [60]:
text="string @ *() with punctuaion.!"

In [61]:
remove_punc(text)

'string   with punctuaion'

In [62]:
text2="my name is su@@@nn$$$&&%%y"

In [63]:
remove_punc(text2)

'my name is sunny'

In [65]:
data1["review"]=data1["review"].apply(remove_punc)

In [67]:
data1["review"]

0        ONE OF THE OTHER REVIEWERS HAS MENTIONED THAT ...
1        A WONDERFUL LITTLE PRODUCTION THE FILMING TECH...
2        I THOUGHT THIS WAS A WONDERFUL WAY TO SPEND TI...
3        BASICALLY THERES A FAMILY WHERE A LITTLE BOY J...
4        PETTER MATTEIS LOVE IN THE TIME OF MONEY IS A ...
                               ...
49995    I THOUGHT THIS MOVIE DID A DOWN RIGHT GOOD JOB...
49996    BAD PLOT BAD DIALOGUE BAD ACTING IDIOTIC DIREC...
49997    I AM A CATHOLIC TAUGHT IN PAROCHIAL ELEMENTARY...
49998    IM GOING TO HAVE TO DISAGREE WITH THE PREVIOUS...
49999    NO ONE EXPECTS THE STAR TREK MOVIES TO BE HIGH...
Name: review, Length: 50000, dtype: object

In [68]:
text1="FYI this is not true"
text2="LAMO the class was so funny"
text3="I want it ASAP"

In [69]:
chat_words={
"AFAIK":"As Far As I Know",
"AFK": "Away From Keyboard",
"ASAP":"As Soon As Possible",
"BTW":"By The Way",
"B4":"Before",
"LAMO":"Laugh My A.. Off",
"FYI":"For your information"    
}

In [70]:
chat_words["ASAP"]

'As Soon As Possible'

In [71]:
def chat_conversion(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [72]:
text1

'FYI this is not true'

In [73]:
" ".join(["sunny","savita","data scientist","ML engineer"])

'sunny savita data scientist ML engineer'

In [74]:
chat_conversion(text1)

'For your information this is not true'

In [75]:
text2

'LAMO the class was so funny'

In [76]:
chat_conversion(text2)

'Laugh My A.. Off the class was so funny'

In [77]:
text3

'I want it ASAP'

In [78]:
chat_conversion(text3)

'I want it As Soon As Possible'

# Text Preprocessing 
## NLTK
### TextBlob
#### Spacy

In [1]:
text="this is my processing notebook pleae download this ntebook"

In [2]:
from textblob import TextBlob

In [3]:
textblob=TextBlob(text)

In [4]:
textblob.correct().string

'this is my processing notebook please download this notebook'

In [5]:
text2="here is my nme that is SUNNY SAVITA and he is good mntor"

In [6]:
textblob=TextBlob(text2)

In [7]:
textblob.correct().string

'here is my me that is SUNNY SAVITA and he is good motor'

In [8]:
text3="I'm brav ad stong prson"

In [9]:
textblob=TextBlob(text3)
textblob.correct().string

"I'm brave ad strong person"